:root {
  --primary-colors: rgba(13, 110, 139, 0.75);
  --secondary-colors: rgba(229, 148, 0, 0.9);
  --overlay-colors: rgba(24, 39, 51, 0.85);
  --menu-speed:0.75s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

}